#carritoBtn{
    cursor: pointer;
}

.modal-carrito-background{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    cursor: pointer;
    right: -100vw;
    z-index: 10;
}

.modal-carrito-body{
    width: 500px;
    height: 100vh;
    position: fixed;
    right: -500;
    border-radius: 10px;
    cursor: default;
    transition: all .4s ease;
}

.modal-carrito-header h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 0 !important;
    font-size: 20px;
    font-weight: 400;
    color: #6ACFC7;
    background-color: #332f2d;
    border-bottom: solid .5px #332f2d;
    border-top-left-radius: 10px;
    transition: all .4s ease;
}

.modal-carrito-header h1:hover{
    background-color: #fff;
    color: #332f2d;
}

.modal-carrito-header h1 span{
    margin-left: 200px;
}

#carritoBtnCerrar{
    cursor: pointer;
}
.modal-carrito-main{
    padding-top: 30px;
    background-color: #fff;
    height: calc(100vh - 50px);
}

.modal-mostrar{
    right: 0;
}

.warning{
    padding: 7px;
    border: solid .5px #332f2d;
    border-radius: 7px;
}
.carrito-total{
    text-align: center;
    display: none;
}

.carrito-total div{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    font-weight: 500;
}

.carrito-total a{
    display: block;
    width: 80%;
    margin: auto;
    background-color: #332f2d;
    color: #6ACFC7;
    padding: 5px;
    border: solid 1px #332f2d;
    border-radius: 15px;
    text-decoration: none;
}

.carrito-total a:hover{
    background-color: #332f2d99;
}

@media screen and (max-width: 720px ){
    .modal-mostrar{
        width: 100vw;
    }
}

.producto-carrito{
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}

.producto-carrito img{
    width: 100px;
}

.descripcion-carrito p{
    padding: 5px;
    font-size: 16px;
}

.carrito-opciones{
    display: grid;
    gap: 10px;
    text-align: center;
}

.contador-carrito{
    padding: 10px 5px;
    border: solid 1px #0005;
    border-radius: 10px;
}

.contador-carrito span{
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    /* Deshabilitamos la propiedad de seleccionar el texto*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari y Opera */
    -webkit-touch-callout: none; /* Deshabilita los mensajes de Android e iOS */

}

.contador-carrito .contador:hover{
    cursor: pointer;
    font-weight: bolder;
}

.bi-trash {
    color: #332f2d !important;
}