.contenedor-principal{
    width: 70% !important;
    display: flex;
}

.contenedor-principal img{
    width: 350px;
}

/* Media queries Tableta*/
@media screen and (max-width: 920px ){
    .contenedor-principal{
        width: 100%;
    }
    .contenedor-detalles{
        display: block;
    }

}
@media screen and (max-width: 768px ){
    .contenedor-principal{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contenedor-principal img{
        width: 200px;
        height: fit-content;
    }
    .contenedor-detalles{
        display: block;
    }
}

/* Media queries Celular*/
@media screen and (max-width: 500px ){
    .contenedor-principal{
        display: block;
    }

    .contenedor-principal img{
        width: 100%;
    }

    .contenedor-principal > div{
        margin: auto;
    }
}